<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{text-align: center;}
    .profile > img {width: 150px; height: 150px; background-repeat: no-repeat; border-radius: 50%;}
    .content .red{font-weight: bold; color: red;}
    .content .blue{color: blue;}
    .box{width: 400px; padding: 20px; background-color: orange; box-sizing: border-box; margin: 0 auto; color: white; box-shadow: 5px 5px 0 0 black; border-radius: 5px;}
  </style>
  
</head>
<body>
  <!-- div.profile>img -->
  <div class="profile">
    <img src="../../images/logo.png" alt="사진">
  </div>
  <!-- h3.title -->
  <h3 class="title">Goni Kim</h3>
  <!-- p.content -->
  <p class="content"><span class="red">Full Stack</span> <span class="blue">Developer</span></p>
  <!-- div.box -->
  <div class="box">
    안녕하세요. Goni Kim입니다.<br> 
    현재 웹 프론트엔드/백엔드 교강사로 활동중이며
    취미는 배드민턴을 치는 것입니다.</div>
</body>
</html>